Numpy basics

In [1]:
my_list = [10,20,30]

In [2]:
import numpy as np

In [3]:
arr = np.array(my_list)

In [6]:
type(arr)

numpy.ndarray

In [7]:
arr.shape

(3,)

PANDAS

In [10]:
import pandas as pd

In [11]:
series = pd.Series(my_list)

In [12]:
type(series)

pandas.core.series.Series

In [13]:
print(series)

0    10
1    20
2    30
dtype: int64

In [14]:
series.values

array([10, 20, 30])

In [16]:
dict = {'a':10,'b':20,'c':25}

In [17]:
series2 = pd.Series(dict)

In [18]:
series2

a    10
b    20
c    25
dtype: int64

In [20]:
series1 = pd.Series([1,2,3,4,6],index=['India','USA','Canada','Australia','UK'])

In [25]:
series1

India        1
USA          2
Canada       3
Australia    4
UK           6
dtype: int64

Dataframe

In [28]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

In [29]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [34]:
df1 = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
],index=['a','b','c'],columns=['Col1','Col2','Col3'])

In [35]:
df1

   Col1  Col2  Col3
a     1     2     3
b     4     5     6
c     7     8     9

In [36]:
weatherdf = pd.read_csv("C:/Users/asukh/Documents/DataEngineering/weather_2012.csv")

In [37]:
weatherdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [38]:
weatherdf.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [43]:
weatherdf['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [42]:
type(weatherdf['Date/Time'].head())

pandas.core.series.Series

In [41]:
weatherdf['Date/Time'] = pd.to_datetime(weatherdf['Date/Time'])

In [44]:
weatherdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [46]:
weatherdf.index

RangeIndex(start=0, stop=8784, step=1)

In [49]:
weatherdf['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [51]:
weatherdf['Wind Spd (km/h)'].nunique()

34

In [52]:
weatherdf['Weather'].nunique()

50

In [60]:
weatherdf['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Snow Showers,Fog                              4
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Drizzle,Snow                                  2
Moderate Snow,Blowing Snow                    2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Freezing Rain,Snow Grains                     1
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Name: count, dtype: int64

In [61]:
weatherdf['Weather'][2]

'Freezing Drizzle,Fog'

In [65]:
print(weatherdf['Weather'].value_counts()[3])

1326

C:\Users\asukh\AppData\Local\Temp\ipykernel_13464\3340609668.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(weatherdf['Weather'].value_counts()[3])

In [66]:
weatherdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [68]:
weatherdf['Wind Spd (km/h)'].value_counts()[9]

np.int64(830)

In [71]:
weatherdf[:20][['Date/Time','Visibility (km)','Weather']]

             Date/Time  Visibility (km)               Weather
0  2012-01-01 00:00:00              8.0                   Fog
1  2012-01-01 01:00:00              8.0                   Fog
2  2012-01-01 02:00:00              4.0  Freezing Drizzle,Fog
3  2012-01-01 03:00:00              4.0  Freezing Drizzle,Fog
4  2012-01-01 04:00:00              4.8                   Fog
5  2012-01-01 05:00:00              6.4                   Fog
6  2012-01-01 06:00:00              6.4                   Fog
7  2012-01-01 07:00:00              8.0                   Fog
8  2012-01-01 08:00:00              8.0                   Fog
9  2012-01-01 09:00:00              4.0                   Fog
10 2012-01-01 10:00:00              1.2                   Fog
11 2012-01-01 11:00:00              4.0                   Fog
12 2012-01-01 12:00:00              4.8                   Fog
13 2012-01-01 13:00:00              4.8                   Fog
14 2012-01-01 14:00:00              4.8                   Fog
15 2012-01-01 15:00:00              6.4                   Fog
16 2012-01-01 16:00:00             12.9         Mostly Cloudy
17 2012-01-01 17:00:00             16.1                Cloudy
18 2012-01-01 18:00:00             12.9                  Rain
19 2012-01-01 19:00:00             12.9                  Rain

loc and iloc

In [72]:
weatherdf.loc[0:5,['Date/Time','Weather','Visibility (km)']]

            Date/Time               Weather  Visibility (km)
0 2012-01-01 00:00:00                   Fog              8.0
1 2012-01-01 01:00:00                   Fog              8.0
2 2012-01-01 02:00:00  Freezing Drizzle,Fog              4.0
3 2012-01-01 03:00:00  Freezing Drizzle,Fog              4.0
4 2012-01-01 04:00:00                   Fog              4.8
5 2012-01-01 05:00:00                   Fog              6.4

In [74]:
weatherdf.iloc[0:5][['Date/Time','Weather','Visibility (km)']]

            Date/Time               Weather  Visibility (km)
0 2012-01-01 00:00:00                   Fog              8.0
1 2012-01-01 01:00:00                   Fog              8.0
2 2012-01-01 02:00:00  Freezing Drizzle,Fog              4.0
3 2012-01-01 03:00:00  Freezing Drizzle,Fog              4.0
4 2012-01-01 04:00:00                   Fog              4.8

In [75]:
weatherdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [85]:
weatherdf.iloc[:5:2][['Date/Time','Visibility (km)','Rel Hum (%)']]

            Date/Time  Visibility (km)  Rel Hum (%)
0 2012-01-01 00:00:00              8.0           86
2 2012-01-01 02:00:00              4.0           89
4 2012-01-01 04:00:00              4.8           88

In [86]:
weatherdf['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [87]:
snow_filter = weatherdf['Weather'].str.lower().str.contains('snow')

In [88]:
snow_filter

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [89]:
weatherdf['Weather'].iloc[8779]

'Snow'

In [91]:
weatherdf[snow_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [93]:
df = weatherdf[(weatherdf['Wind Spd (km/h)']>24) &(weatherdf['Visibility (km)']==25)]

In [96]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

Working with columns

In [97]:
add_10 = weatherdf['Wind Spd (km/h)']+10

In [98]:
add_10

0       14
1       14
2       17
3       16
4       17
        ..
8779    40
8780    34
8781    38
8782    38
8783    40
Name: Wind Spd (km/h), Length: 8784, dtype: int64

In [100]:
weatherdf.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [101]:
weatherdf.describe()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,2012-07-01 23:30:00,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
min,2012-01-01 00:00:00,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,2012-04-01 11:45:00,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,2012-07-01 23:30:00,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,2012-10-01 11:15:00,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,2012-12-31 23:00:00,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005

In [106]:
def times2(value):
    return value*2

In [107]:
weatherdf['Visibility (km)'].apply(times2).head()

0    16.0
1    16.0
2     8.0
3     8.0
4     9.6
Name: Visibility (km), dtype: float64

In [111]:
visibility_in_mtrs = weatherdf['Visibility (km)'] *1000

In [112]:
weatherdf['Visibility(m)'] = visibility_in_mtrs

In [113]:
weatherdf.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility(m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [114]:
weatherdf.rename(columns={'Visibility(m)':'Visibility (meters)'},inplace=True)

In [115]:
weatherdf.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [119]:
weatherdf_df = weatherdf.drop(labels=['Visibility (meters)'],axis=1)

In [120]:
weatherdf_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [122]:
weatherdf_df.sort_values('Date/Time',ascending = False)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
...,...,...,...,...,...,...,...,...
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog

In [123]:
weatherdf_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

Pivot table

In [131]:
d = {
    'A':['food','food','food','bar','bar','bar'],
    'B':['x','y','x','y','x','y'],
    'C':[1,2,3,4,5,1]
}
df = pd.DataFrame(d)

In [132]:
d_pivot = df.pivot_table(
    values= 'C',
    index='A',
    columns=['B'],
    aggfunc = np.sum
)

C:\Users\asukh\AppData\Local\Temp\ipykernel_13464\2048638809.py:1: FutureWarning: The provided callable <function sum at 0x00000229A2541A80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  d_pivot = df.pivot_table(

In [133]:
d_pivot

B     x  y
A
bar   5  5
food  4  2

In [134]:
d_pivot.reset_index()

B     A  x  y
0   bar  5  5
1  food  4  2

In [135]:
df

      A  B  C
0  food  x  1
1  food  y  2
2  food  x  3
3   bar  y  4
4   bar  x  5
5   bar  y  1

In [140]:
df1 = df.groupby(['A','B']).agg(np.sum).reset_index()

C:\Users\asukh\AppData\Local\Temp\ipykernel_13464\3845195053.py:1: FutureWarning: The provided callable <function sum at 0x00000229A2541A80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df1 = df.groupby(['A','B']).agg(np.sum).reset_index()

In [141]:
df1

      A  B  C
0   bar  x  5
1   bar  y  5
2  food  x  4
3  food  y  2

Concat, Merge, Join

In [142]:
df1 = {
    'A':['A0','A1','A2'],
    'B':['B0','B1','B2'],
}

In [143]:
df1

{'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']}

In [145]:
df1 = pd.DataFrame(df1,index=['K0','K1','k2'])

In [146]:
df1

     A   B
K0  A0  B0
K1  A1  B1
k2  A2  B2

In [160]:
df2 = pd.DataFrame({
    'A':['A0','B0','C0'],
    'C':['A0','A1','A2'],
    'D':['B0','B1','B2'],
},index=['K0','K3','K1'])

In [161]:
df2

     A   C   D
K0  A0  A0  B0
K3  B0  A1  B1
K1  C0  A2  B2

In [157]:
df = df1.join(df2, how='inner')

In [158]:
df

     A   B   C   D
K0  A0  B0  A0  B0
K1  A1  B1  A2  B2

In [162]:
pd.merge(df1, df2, how='left', on=['A'])

    A   B    C    D
0  A0  B0   A0   B0
1  A1  B1  NaN  NaN
2  A2  B2  NaN  NaN

In [163]:
pd.merge(df1,df2,how='right',on=['A'])

    A    B   C   D
0  A0   B0  A0  B0
1  B0  NaN  A1  B1
2  C0  NaN  A2  B2

Convert String to Datetime

In [2]:
df = pd.DataFrame({'Date':['03/16/2026','03/17/2026','03/18/2026'],
                  'Values':[3,4,5]})

NameError: name 'pd' is not defined

In [165]:
df

         Date  Values
0  03/16/2026       3
1  03/17/2026       4
2  03/18/2026       5

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Values  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [183]:
df['Date'] =pd.to_datetime(df['Date'], format="%Y-%m-%d")

In [1]:
df.info()

NameError: name 'df' is not defined

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'Date':['03/16/2026','03/17/2026','03/18/2026'],
                  'Values':[3,4,5]})

In [5]:
df

         Date  Values
0  03/16/2026       3
1  03/17/2026       4
2  03/18/2026       5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Values  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   Values  3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes

In [14]:
today = pd.to_datetime('today')

In [42]:
today.year

2026

In [28]:
df = pd.DataFrame({
    'DOB':['1992-05-28 6:5:0'],
    'Name':['Abilash Sukhavasi']
},index=[0])

In [29]:
df

                DOB               Name
0  1992-05-28 6:5:0  Abilash Sukhavasi

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DOB     1 non-null      object
 1   Name    1 non-null      object
dtypes: object(2)
memory usage: 24.0+ bytes

In [39]:
df['DOB'] = pd.to_datetime(df['DOB'],format="%Y-%m-%d %H:%M:%S")

In [40]:
df

                  DOB               Name
0 1992-05-28 06:05:00  Abilash Sukhavasi

In [43]:
today.year - df['DOB'].dt.year

0    34
Name: DOB, dtype: int32

In [45]:
import json

In [46]:
data = {
    "President":{
        "name": "Abdul Kalam",
        "country": "India"
    }
}

In [47]:
type(data)

dict

In [48]:
with open("datafile.json","w") as write_file:
    json.dump(data, write_file)

In [53]:
with open("datafile.json",'r') as read_file:
    data1 = json.load(read_file)

In [55]:
type(data1)

dict

In [52]:
df = pd.read_json(data,orient='index')

ValueError: Invalid file path or buffer object type: <class 'dict'>

In [56]:
jsonstr = '''{
"ind0":{"Courses": "Pandas","Discount": 200},
"ind1":{"Courses": "Spark","Discount": 300},
"ind2":{"Courses": "Databricks","Discount": 500},
}
'''

In [57]:
type(jsonstr)

str

In [58]:
df = pd.read_json(jsonstr, orient='index')

C:\Users\asukh\AppData\Local\Temp\ipykernel_4464\563940186.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(jsonstr, orient='index')

In [59]:
df

         Courses  Discount
ind0      Pandas       200
ind1       Spark       300
ind2  Databricks       500

In [75]:
df1 = pd.DataFrame.from_dict(data1["President"], orient='index')

In [76]:
df1

                   0
name     Abdul Kalam
country        India

In [83]:
hrdata = pd.read_csv("C:/Users/asukh/Downloads/hrdata.csv", parse_dates=['Hire Date'])

C:\Users\asukh\AppData\Local\Temp\ipykernel_4464\114240315.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hrdata = pd.read_csv("C:/Users/asukh/Downloads/hrdata.csv", parse_dates=['Hire Date'])

In [84]:
hrdata

             Name  Hire Date   Salary  Sick Days remaining
0  Graham Chapman 2014-03-15  50000.0                   10
1     John Cleese 2015-06-01  65000.0                    8
2       Eric Idle 2014-05-12  45000.0                   10
3     Terry Jones 2013-11-01  70000.0                    3
4   Terry Gilliam 2014-08-12  48000.0                    7
5   Michael Palin 2013-05-23  66000.0                    8

In [85]:
hrdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 6 non-null      object
 1   Hire Date            6 non-null      datetime64[ns]
 2   Salary               6 non-null      float64
 3   Sick Days remaining  6 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 324.0+ bytes

In [88]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\asukh\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\asukh\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [89]:
from openpyxl import Workbook

In [90]:
workbook = Workbook()
sheet = workbook.active
sheet['A1'] = "Hello!"

workbook.save(filename='testxl.xlsx')

In [91]:
from openpyxl import load_workbook
workbook = load_workbook(filename='C:/Users/asukh/Downloads/sample-xlsx-file.xlsx')

In [93]:
workbook.sheetnames

['Employee', 'Department']

In [94]:
sheet = workbook.active

In [95]:
sheet

In [98]:
sheet = workbook['Employee']

In [103]:
sheet['A1:C1']

((<Cell 'Employee'.A1>, <Cell 'Employee'.B1>, <Cell 'Employee'.C1>),)

In [106]:
for row in sheet.iter_rows(values_only = True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department')
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering')
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales')
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR')
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing')

In [107]:
exceldf = pd.read_excel('C:/Users/asukh/Downloads/sample-xlsx-file.xlsx')

In [108]:
exceldf

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [109]:
exceldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4 non-null      object
 1   Email          4 non-null      object
 2   Date Of Birth  4 non-null      datetime64[ns]
 3   Salary         4 non-null      int64
 4   Department     4 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 292.0+ bytes

In [110]:
pip install avro-python3

Collecting avro-python3
  Downloading avro-python3-1.10.2.tar.gz (38 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: avro-python3
  Building wheel for avro-python3 (pyproject.toml): started
  Building wheel for avro-python3 (pyproject.toml): finished with status 'done'
  Created wheel for avro-python3: filename=avro_python3-1.10.2-py3-none-any.whl size=44041 sha256=6edb8b9c9429a31ae180fd3b01b4b41412df88c791eb9f59defe9a1213e82944
  Stored in directory: c:\users\asukh\appdata\local\pip\cache\wheels\51\1a\f4\bd962fd1830f8b34c3ba124e1fabbfcb64ccd588dd3bcf1ba9
Successfully built avro-python3
Installing collected packages: avro-python3
Successfully installed avro-python3-1.10.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip